a.external::after {
  /* Source: Wikimedia Commons, https://commons.wikimedia.org/wiki/File:Link-external-small-ltr-progressive.svg (CC BY 4.0) */
  content: url(https://upload.wikimedia.org/wikipedia/commons/9/96/Link-external-small-ltr-progressive.svg);
  margin: 0px 0px 0px 5px;
}

.italic, .descr {
  font-style: italic;
}

.center {
  text-align: center;
}

h1 {
  margin: 5px;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
}

h3 {
  margin-top: 1.5em;
}

.project-details {
  margin-left: 1.5em;
}

.project-category.visible {
  display: block;
}

.project-category.hidden {
  display: none;
}

/* based on https://www.digitalocean.com/community/tutorials/react-tabs-component (joshtronic and christinagorton, CC BY-NC-SA 4.0 license) */
.tab-list ol {
  border-bottom: 2px solid #888;
  padding-left: 0;
  font-size: 1.1em;
}

/* based on https://www.digitalocean.com/community/tutorials/react-tabs-component (joshtronic and christinagorton, CC BY-NC-SA 4.0 license) */
.tab-list li {
  display: inline-block;
  list-style: none;
  margin-bottom: -2px;
  padding: 0.5rem 0.75rem;
  font-size: 1.05em;
  max-width: 20vw;
  text-align: center;
  vertical-align: center;
}

/* based on https://www.digitalocean.com/community/tutorials/react-tabs-component (joshtronic and christinagorton, CC BY-NC-SA 4.0 license) */
.tab-list li.active {
  background-color: #ddd;
  border: solid #888;
  border-width: 2px 2px 0 2px;
}

.tab-list li.inactive:hover, li.inactive:focus {
  background-color: #eee;
  border-top: 2px solid #eee;
}

#engl-tab ul {
  margin-top: 0px;
}
